.mySwiper {
  padding: 10px 50px;
}

.swiper-slide {
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  width: 50px;
  height: 50px;
  background-color: #A3DC2F;
  border-radius: 50%;
  margin: 0;
}
::ng-deep .swiper-navigation-icon{
    display: none !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: inherit;
  font-size: 0;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  content: '';
  width: 12px;
  height: 12px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.swiper-button-prev::before {
  transform: rotate(135deg);
  margin-left: 4px;
}

.swiper-button-next::before {
  transform: rotate(-45deg);
  margin-right: 4px;
}