<footer class=" bg-beet-gray-3 pt-24 flex">
    <div class="container mx-auto">
        <div class="grid grid-cols-12 gap-6">
            <div class="lg:col-span-4 col-span-12">
                <img src="/images/footer-logo.svg" alt="">
                <p class="mt-8 mb-6 text-beet-gray-2 w-[80%]">Data analysis software is a type of software tool used for data analysis and reporting.</p>
                <ul class="flex">
                    <li><a href="" class="text-base bg-white rounded-full p-2 me-2 hover:bg-beet-twitter hover:text-white"> <i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="" class="text-base bg-white rounded-full p-2 me-2 hover:bg-beet-facebook hover:text-white"> <i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="" class="text-base bg-white rounded-full p-2 me-2 hover:bg-beet-instagram hover:text-white"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="" class="text-base bg-white rounded-full p-2 me-2 hover:bg-beet-github hover:text-white"> <i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
            <div class="lg:col-span-2 col-span-12">
                <h3 class="mb-8 text-xl font-bold leading-6">Company</h3>
                <ul>
                    <li class="mb-3 text-base font-normal text-beet-gray-2"><a href="">Services</a></li>
                    <li class="mb-3 text-base font-normal text-beet-gray-2"><a href="">Resources</a></li>
                    <li class="mb-3text-base font-normal text-beet-gray-2"><a href="">About Us</a></li>
                </ul>
            </div>
            <div class="lg:col-span-2 col-span-12">
                <h3 class="mb-8 text-xl font-bold leading-6">Help</h3>
                <ul>
                    <li class="mb-3 text-base font-normal text-beet-gray-2"><a href="">Customer Support</a></li>
                    <li class="mb-3 text-base font-normal  text-beet-gray-2"><a href="">Terms & Conditions</a></li>
                    <li class="mb-3 text-base font-normal text-beet-gray-2"><a href="">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="lg:col-span-4 col-span-12">
                <h3 class="mb-8 text-xl font-bold leading-6">Subscribe to newsletter</h3>
                <div class="flex bg-white h-14 rounded-[8px] overflow-hidden">
                    <input type="text" placeholder="Enter your email" class="w-full p-3 outline-none">
                    <button class="bg-beet-primary text-white px-[70px]">Join</button>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-12 py-11 border-t-[1px] border-beet-gray-2">
            <p class="text-beet-gray-2 text-sm font-normal">© Copyright 2024, All Rights Reserved by FinBiz.</p>
        </div>
    </div>
</footer>
