<footer class=" bg-beet-gray-3 pt-24 flex">
    <div class="container mx-auto">
        <div class="grid grid-cols-12 gap-6">
            <div class="lg:col-span-4 col-span-12">
                <img src="/images/footer-logo.svg" alt="">
                <p class="mt-8 mb-6 text-beet-gray-2 w-[80%]">{{ 'footer.description' | translate }}</p>
                <ul class="flex">
                    <li><a href="" class="text-base bg-white rounded-full p-2 me-2 hover:bg-beet-twitter hover:text-white"> <i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="" class="text-base bg-white rounded-full p-2 me-2 hover:bg-beet-facebook hover:text-white"> <i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="" class="text-base bg-white rounded-full p-2 me-2 hover:bg-beet-instagram hover:text-white"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="" class="text-base bg-white rounded-full p-2 me-2 hover:bg-beet-github hover:text-white"> <i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
            <div class="lg:col-span-2 col-span-12">
                <h3 class="mb-8 text-xl font-bold leading-6">{{ 'footer.company' | translate }}</h3>
                <ul>
                    <li class="mb-3 text-base font-normal text-beet-gray-2"><a href="">{{ 'footer.services' | translate }}</a></li>
                    <li class="mb-3 text-base font-normal text-beet-gray-2"><a href="">{{ 'footer.resources' | translate }}</a></li>
                    <li class="mb-3 text-base font-normal text-beet-gray-2"><a href="">{{ 'footer.aboutUs' | translate }}</a></li>
                </ul>
            </div>
            <div class="lg:col-span-2 col-span-12">
                <h3 class="mb-8 text-xl font-bold leading-6">{{ 'footer.help' | translate }}</h3>
                <ul>
                    <li class="mb-3 text-base font-normal text-beet-gray-2"><a href="">{{ 'footer.customerSupport' | translate }}</a></li>
                    <li class="mb-3 text-base font-normal  text-beet-gray-2"><a href="">{{ 'footer.termsConditions' | translate }}</a></li>
                    <li class="mb-3 text-base font-normal text-beet-gray-2"><a href="">{{ 'footer.privacyPolicy' | translate }}</a></li>
                </ul>
            </div>
            <div class="lg:col-span-4 col-span-12">
                <h3 class="mb-8 text-xl font-bold leading-6">{{ 'footer.newsletter' | translate }}</h3>
                <div class="flex bg-white h-14 rounded-[8px] overflow-hidden">
                    <input type="text" [placeholder]="'footer.emailPlaceholder' | translate" class="w-full p-3 outline-none">
                    <button class="bg-beet-primary text-white px-[70px]">{{ 'footer.join' | translate }}</button>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-12 py-11 border-t-[1px] border-beet-gray-2">
            <p class="text-beet-gray-2 text-sm font-normal">{{ 'footer.copyright' | translate }}</p>
        </div>
    </div>
</footer>
