/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  
  @media (width >= 640px) {
    padding-inline: 2rem;
  }
  
  @media (width >= 1024px) {
    padding-inline: 4rem;
  }
}

body {
  font-family: "DM Sans", sans-serif;
}

/* RTL Support */
html[dir="rtl"] body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

html[dir="rtl"] {
  direction: rtl;
}

@theme {
  --font-family-sans: "DM Sans", sans-serif;
  --color-beet-primary: #A3DC2F;
  --color-beet-secondary: #1D1C20;
  --color-beet-gray:#333333;
  --color-beet-gray-2:#4F4F4F;
  --color-beet-gray-3:#E0E0E0;
  --color-beet-gray-4:#F6F6F6;
  --color-beeet-background:#F2F2F2;
  --color-beet-gray-5:#828282;
  --color-beet-gray-6:#BDBDBD;
  --color-beet-twitter:#1DA1F2;
  --color-beet-facebook:#1877F2;
  --color-beet-instagram:#E4405F;
  --color-beet-github:#333333;
  --color-beet-circle1:#F4F4F4;
  --color-beet-circle2:#E5EADB;
  --color-beet-green:#236456;
  --color-beet-green-2:#112220;
  --color-beet-green-3:#33C6AB;
  --radius-lg: 100px;
  --radius-md: 64px;
  --font-weight-medium: 500;
  --text-btn: 18px;
  --spacing-btn: 20px;
  --shadow-card: 2px 10px 81px -8px rgba(0, 0, 0, 0.14);
}